body{
    display: grid;
    grid-template-columns: 1fr 4fr; /* Dos columnas de igual tamaño */
    height: 100vh;
    font-family: sans-serif;
    letter-spacing: 2px;
    width: 100%;
    
}
/*-------------------------- ESTILOS DEL LOGO "NG"  ------------------------*/
#logo{
    
    margin-top: 40%;
    display: grid;
    place-content: center;
    width:150px;
    
    
border: none;
border-radius: 10%;

}

/*------------------------ CONTENEDOR DEL MENU DE NAVEGACION ------------------*/


#contenedor-header{
    z-index: 2;
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content: space-between;
background:#006280;
height: 100vh;
&.active{
    background-color: #154360;
}


}
#contenedor-header nav{
    box-sizing: border-box;
   
    width: 100%;
    padding-left:5%;
    padding-bottom:50%;
}
header nav ul li{
    list-style: none;
 padding:10px;
 transition:letter-spacing 0.5s;
}
.botones-navegacion{
    display: flex;
    align-items: center;
text-decoration: none;
color: rgb(164, 160, 160);
font-size:20px;
margin :25px  30px;


}
header nav ul a:nth-child(4){
    color:black;
}
header nav ul li:hover{
   letter-spacing: 4px;

  
}
/*---CONTENEDOR de formulario------*/
.contenidos{

display: flex;
flex-direction: column;

justify-content: center;
align-items: center;

}

/*----------FORMULARIO DE CONTACTO--------------*/
.contenidos{
    background-color: #3697e6;
    &.active{
        background-color: black;
    }
}
#form{
    width: 40%;
}
#form div{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
#form div label{
    margin:10px 0 5px 0;
    &.active{
        color: #AAB7B8;

    }
}
.campos{
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 8px;
    
   cursor: white;
}
.mensaje{
    height: 50px;
}
.centrar-boton{
    display: flex;
    flex-direction: column;
}
#button{
    width: 20%;
    align-self: center;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
 justify-content: center;
}
#button:hover{
    cursor: pointer;
    background-color:#3697e6;
}

 /*--------BOTON MODO OSCURO----------*/

 .switch{
    z-index: 3;
position: absolute;
right:5% ; /*posicion del boton en la derecha */
top: 5%;   /* posicion de abajo */


    border-radius: 1000px;
    border:none;
    cursor:pointer;
    display: flex;
    outline: none;
    width: 60px;
   

} 
.oscuro{
    background: #e3e0e0;
}
.claro{
    background:rgb(243, 242, 241);
}
span{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 30px;
    width: 30px;
    height: 30px;
        color: white;
        background: none;
    }
    .span-derecha{
        justify-content: end;
    }

.circulito{
  content: "";
  display: block;
 
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0 0 2px 2px black;

}

.derecha{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    top: 0;
    left: unset;
    right: 0;
 
    animation:cirulitoMoove 1s ease ;

}
.izquierda{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    top: 0;
    left: 0;
    right: unset; 
   
}
.fa-sun,.fa-moon{
    color:black;
}
/*------------------ ANIMACION CONTENIDO APARECE DESDE LA ISQUIERDA----------------------*/
@keyframes deslizarDerecha{
    from{
        opacity: 0.3;
        transform: translateX(-100px);
    }
    
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
    }
    .contenidos{
        animation:deslizarDerecha 2s ease;
    }