body{
    background-color: #1F618D;

    display: grid;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 2px;
    
}
/*-------------------------- ESTILOS DEL LOGO "NG"  ------------------------*/
#logo{
    
    margin-top: 40%;
    display: grid;
    place-content: center;
    width:150px;
    
    
border: none;
border-radius: 10%;

}

/*------------------------ CONTENEDOR DEL MENU DE NAVEGACION ------------------*/


#contenedor-header{
    z-index: 2;
 display: flex;
 position: fixed;
 width: 20%;
 flex-direction: column;
 align-items:center;
 justify-content: space-between;
background:#006280;
height: 100vh;
&.active{
    background-color: #154360;
}

}
#contenedor-header nav{
    box-sizing: border-box;
   
    width: 100%;
    padding-left:5%;
    padding-bottom:50%;
}
header nav ul li{
    list-style: none;
 padding:10px;
 transition:letter-spacing 0.5s;
}
.botones-navegacion{
    display: flex;
    align-items: center;
text-decoration: none;
color: rgb(164, 160, 160);
font-size:20px;
margin :25px  30px;


}
header nav ul a:nth-child(3){
    color:black;
}
header nav ul li:hover{
   letter-spacing: 4px;

  
}
/*-------------------- CONTENEDOR INFOMACION PERSONAL ---------------------*/
.contenedor-about{
    z-index: 1;
    position: absolute;
    left:20%;
    box-sizing: border-box;
    display:grid;
    place-content: center;
    width: 80%;
    padding: 10% 5% 10% 10%;
    &.active{
        background-color: black;
    }
}

.contenedor-about .sub2{
    font-size: 2em;
    margin:5% 0 2% 0 ;
    color:black;
    padding-bottom:10px;
    &.active{
        color: #AAB7B8;
    }
}
.contenedor-about .sub3{
    font-size: 1.2em;
    padding-bottom: 3%;
    padding-left: 10px;

    color:#fff;
}
.contenedor-about p{
 font-size: 1.1em;
 line-height: 1.5;
 color:#fff;
}

hr {
    overflow: visible;
    width: 100%;
    margin:5% 0 5% 0;
}

/*---------------------  lista de herramientas y tecnologias--------------------------*/
.listas-tecnologias{
display:flex;
justify-content: space-between;

}
.listas-tecnologias ul li{
    margin:8px;
    font-size: 1.1em;
    line-height: 1.5;
    color:#fff;
}
.iconos-tecnologias{
    color:#fff;
    font-size: 1.5em;
    
}
.spring{
    box-sizing: border-box;
    padding: 0.1em;
    font-size: 1em;
    color:white;
    background-color:grey;
    border-radius:35%;
}
.hibernate{
    width:120px;
    margin:0;
    padding:0;
}
.eclipse{
width:20px;
}
/*------------------ ANIMACION CONTENIDO APARECE DESDE LA ISQUIERDA----------------------*/
@keyframes deslizarDerecha{
    from{
        opacity: 0.3;
        transform: translateX(-100px);
    }
    
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
    }
    .contenido{
        animation:deslizarDerecha 2s ease;
    }
    /*--------BOTON MODO OSCURO----------*/

.switch{
    z-index: 3;
position: absolute;
right:5% ; /*posicion del boton en la derecha */
top: 5%;   /* posicion de abajo */


    border-radius: 1000px;
    border:none;
    cursor:pointer;
    display: flex;
    outline: none;
    width: 60px;
   

} 

span{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 30px;
    width: 30px;
    height: 30px;
        color: white;
        background: none;
    }
    .span-derecha{
        justify-content: end;
    }

.circulito{
  content: "";
  display: block;
 
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0 0 2px 2px black;

}

.derecha{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    top: 0;
    left: unset;
    right: 0;
 
    animation:cirulitoMoove 1s ease ;

}
.izquierda{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    top: 0;
    left: 0;
    right: unset; 
   
}
.fa-sun,.fa-moon{
    color:black;
}
