body{
    background-color: rgb(235, 241, 241);

        display: grid;
        grid-template-columns: 1fr 4fr; /* Dos columnas de igual tamaño */
        padding: 20px; /* Añade un espacio entre el contenido y los bordes del body */
        height: 100vh;
        font-family: sans-serif;
        letter-spacing: 2px;
}

/*-------------------------- ESTILOS DEL LOGO "NG"  ------------------------*/

    #logo{
    
        margin-top: 40%;
        display: grid;
        place-content: center;
        width:150px;
        
        
    border: none;
    border-radius: 10%;
    
    box-shadow: -9px 9px 9px 9px rgb(249, 246, 246);
    }
/*------------------------ CONTENEDOR DEL MENU DE NAVEGACION ------------------*/

#contenedor-header{
    z-index: 2;
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content: space-between;
background-color: rgb(255, 255, 255);
height: 100vh;

}
#contenedor-header nav{
    box-sizing: border-box;
   
    width: 100%;
    padding-left:5%;
    padding-bottom:50%;
}
header nav ul li{
    list-style: none;
 padding:10px;
 transition:letter-spacing 0.5s;
}
header nav ul a{
    display: flex;
    align-items: center;
text-decoration: none;
color: rgb(164, 160, 160);
font-size:20px;
margin :25px  30px;

}
header nav ul a:nth-child(2){
    color:black;
}
header nav ul li:hover{
   letter-spacing: 4px;

  
}
.clicked{color:black;}
/*----------------------------------------------*/
/*---------------------CONTENEDOR PROYECTOS-------------------------*/
.contenedor-proyectos{
    background-color: blueviolet;
    display: grid;
    margin:10%;     
    width: 80%;
}